.home {
  & h1 {
    font-size: 60px;
    font-weight: bold;
  }
  & span {
    font-size: 22px;
  }

  & .search {
    position: relative;

    & input {
      height: 60px;
      text-indent: 25px;
      border: 2px solid #4a4a4a;
      border-radius: 30px;
    }

    & .fa-search {
      position: absolute;
      top: 20px;
      left: 16px;
    }

    & button {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 50px;
      width: 50px;
      border-radius: 30px;
      background: rgb(45, 44, 44);
    }
  }

  & .col .card {
    transition: 1.5s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale3d(0, 0, 1);
      transition: transform 0.3s ease-out 0s;
      background: rgba(255, 255, 255, 0.1);
      content: '';
      pointer-events: none;
    }
  }

  & img:hover {
    transform: scale(1.1);
  }

  & img {
    transition: 1s;
  }
}
